{% extends "movies/base.html" %}
{% load static %}

{% block content %}

  <h1>Movie Details</h1>
  
  <div class="page-section">

	<div class="image">
      <img src="{% if object.image %}{{object.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}" width="197" height="302">
	</div>

	<p>
	  Main title: <i>{{object.main_title}}</i>
	</p>
	<hr class="division">
	<p>
	  Other titles: <i>{{object.other_titles}}</i>
	</p>
	<hr class="division">
	<p>
	  Production year: <i>{{ object.production_year }}</i>
	</p>
	<hr class="division">
	<p>
	  Production country: <i>{{ object.production_country }}</i>
	</p>
	<hr class="division">
	<p>
	  Genre: <i>{{ object.genre }}</i>
	</p>
	<hr class="division">
	<p>
	  Medium: <i>{{ object.medium }}</i>
	</p>
	<hr class="division">
	<p>
	  Rating: <i>{{ object.rating }}</i>
	</p>
	<hr class="division">
	<p>
	  Comments: <i>{{ object.comments }}</i>
	</p>

  </div>
  
  <input type="button" value=">>>Back" onclick="history.back()">
  <input type="button" value=">>>Edit" onclick="window.location.href='{% url "movie_edit" object.id %}'">

{% endblock %}
